@use '../base/variables' as v;
@use '../base/mixins' as m;

.repartidores {
	padding: v.$separation 0;

	&__heading {
		text-align: center;
		color: v.$secondColor;
	}

	&__grid {
		@include m.tablet {
			@include m.grid(2, v.$separation);
		}
	}

	&__contenido {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		// para alinear el contenido a la izquierda y a su vez acorta el boton
		align-items: flex-start;
	}

	&__texto {
		line-height: 1.5;
		color: v.$secondColor;
	}

	&__enlace {
		@include m.boton(v.$mainColor, v.$white);
	}
}