/*! === CUSTOM PROPERTIES === */
:root {
    --mainFont: 'Roboto', sans-serif;
    --secondFont: 'Lato', sans-serif;
    --mainColor: #1073EA;
    --secondColor: #00DA55;
    --gray: #3B3B3B;
    --lightGray: #E1E1E1;
    --white: #FFF;
    --black: #1F1E1E;
    --separation: 5rem;
}

/*! === GLOBAL === */
html {
    /* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit; }

body {
    font-size: 1.6rem;
    font-family: var(--mainFont);
    line-height: 1.5;
}

h1, h2, h3 {
    font-weight: 900;
    font-family: var(--secondFont);
    /* margin: 2.5rem 0 */
    margin: calc(var(--separation) / 2) 0;
}

h1 {
    font-size: 4.4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 2.8rem;
}

img {
    max-width: 100%;
    display: block;
}

/*! === UTILITIES === */
.contenedor {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.degradado-verde {
    color: transparent;
    background: linear-gradient(to right, var(--mainColor) 0%, var(--secondColor) 100%);
    background-clip: text;
    --webkit-background-clip: text;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

/* === HEADER === */
.header {
    background-color: var(--black);
    /* padding: 15rem 0 */
    padding: calc(var(--separation) * 3) 0;
    color: var(--white);
}

.header img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .contenido-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.texto-header {
    text-align: center;
    padding-top: var(--separation);
}

@media (min-width: 768px) {
    .texto-header {
        text-align: left;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0;
    }
}

.texto-header p {
    margin: 0;
}

.tagline-producto {
    font-size: 3rem;
    font-weight: 900;
}

.nombre-producto {
    font-size: 6rem;
    margin: 0;
}

@media (min-width: 768px) {
    .nombre-producto {
        font-size: 10rem;
        line-height: 1;
    }
}

.precio-producto span {
    font-size: 6rem;
    font-weight: 900;
}

/* === ICONOS === */
.iconos {
    padding: var(--separation) 0;
}

@media (min-width: 768px) {
    .iconos {
        display: flex;
        gap: 2rem;
    }
}

.icono {
    text-align: center;
    margin-bottom: calc(var(--separation) / 2);
}

.icono:last-of-type {
    margin-bottom: 0;
}

@media (min-width: 768px) {
    .icono {
        margin-bottom: 0;
    }
}

.icono img {
    width: 5rem;
    margin: 0 auto;
}

.icono h3 {
    color: var(--mainColor);
    text-transform: uppercase;
    margin-top: calc(var(--separation) / 2);
}

/* === SOBRE TECHPRO === */
.sobre-techpro {
    background-image: linear-gradient(to bottom, transparent 50%, var(--mainColor) 0%), url(../images/imagen-mujer.jpg);
    /* linear-gradient, url */
    background-repeat: repeat, no-repeat;
    background-position: right;
    /* linear-gradient, url */
    background-size: 100%, 105rem;
}

@media (min-width: 768px) {
    .sobre-techpro {
        background-image: linear-gradient(to left, transparent 50%, var(--mainColor) 0%), url(../images/imagen-mujer.jpg);
    }
}

.sobre-techpro-grid {
    display: grid;
    grid-template-rows: repeat(2, 40rem);
    row-gap: var(--separation);
}

@media (min-width: 768px) {
    .sobre-techpro-grid {
        grid-template-rows: unset;
        grid-template-columns: repeat(2, 1fr);
        column-gap: var(--separation);
        row-gap: unset;
        /* padding: 10rem 0 */
        padding: calc(var(--separation) * 2) 0;
    }
}

.texto-sobre-techpro {
    grid-row: 2 / 3;
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: var(--separation);
}

@media (min-width: 768px) {
    .texto-sobre-techpro {
        padding-bottom: 0;
    }
}

.texto-sobre-techpro h2 {
    font-size: 4rem;
}

.texto-sobre-techpro p {
    font-size: 2rem;
    line-height: 2;
}

/* === MODELOS === */
.modelos {
    padding: var(--separation) 0;
}

.header-modelos {
    font-size: 6rem;
    margin-bottom: var(--separation);
}

.listado-modelos {
    display: flex;
    flex-direction: column-reverse;
}

.modelo  {
    background-color: var(--lightGray);
    color: var(--mainColor);
    margin-bottom: 2rem;
    padding-left: 4rem;
    border-radius: 2rem;
    min-height: 20rem;
    background-repeat: no-repeat;
    /* izq-der, arriba-abajo*/
    background-position: 90% center;
    background-size: 15rem;
}

/* No se puede emplear last-of-type porque column-reverse cambió el orden, es decir, queremos quitarle el margen al último y el último en el HTML será el modelo X. El modelo X es el primero en el HTML.  */
.modelo:first-of-type {
    margin-bottom: 0;
}

.modelo h3 {
    font-size: 2.4rem;
}

.modelo .precio {
    font-size: 4rem;
    font-weight: 900;
    line-height: 0;
}

.modelo-x {
    background-image: url(../images/modelo-x.svg);
}

.modelo-y {
    background-image: url(../images/modelo-y.svg);
}

.modelo-z {
    background-image: url(../images/modelo-z.svg);
    background-color: var(--mainColor);
    color: var(--white);
}

.modelo-z .precio {
    font-size: 6rem;
}
