/*! === CUSTOM PROPERTIES === */
:root {
    --mainColor: #e99401;
    --black: #262626;
    --white: #FFF;
    --mainFont: 'Outfit', sans-serif;
}

/*! === GLOBAL === */
html {
    /* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit; }

body {
    font-size: 2rem;
    font-family: var(--mainFont);
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

/*! === UTILITIES === */
/* Todos los que contengan...*/
[class*="__contenedor"] {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

[class*="__heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--mainColor);
    margin: 5rem 0;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

/* === HEADER === */
.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.7)), url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 5rem 0;
    /* El padre siempre lleva relative */
    position: relative;
}

.header__barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .header__barra {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header__logo {
    width: 30rem;
}

.navegacion {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .navegacion {
        margin-top: 0;
    }
}

.navegacion__enlace {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    transition: background-color 300ms ease-in;
}

.navegacion__enlace:hover {
    background-color: var(--mainColor);
}

.modelo {
    color: var(--white);
    margin-top: 5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .modelo {
        text-align: left;
        /* espacio para la guitarra */
        width: 50%;
    }
}

.modelo__nombre {
    font-size: 8rem;
}

.modelo__precio {
    font-size: 6rem;
    color: var(--mainColor);
    font-weight: 900;
    line-height: 0;
}

.modelo__enlace {
    margin-top: 2rem;
    text-decoration: none;
    padding: 1rem 5rem;
    border: 2px solid var(--mainColor);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    transition: background-color 300ms ease-in;
}

.modelo__enlace:hover {
    background-color: var(--mainColor);
}

.header__guitarra {
    display: none;
}

@media (min-width: 992px) {
    .header__guitarra {
        display: block;
        /* El hijo siempre lleva absolute */
        position: absolute;
        right: 0;
        bottom: 0;
        /*
        animation-name: animarGuitarra;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        */

        /* Shorthand: duration, timing-function, delay, iteration-count, name */
        animation: 1s ease-in-out 0s 1 animarGuitarra;

    }
}

@keyframes animarGuitarra {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* === PRODUCTOS === */
.productos__grid {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .productos__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1200px) {
    .productos__grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.producto {
    display: grid;
    /* 40% imagen, 60% contenido */
    grid-template-columns: 2fr 3fr;
    column-gap: 1rem;
    align-items: center;
}

.producto__nombre {
    font-size: 3rem;
    text-transform: uppercase;
}

.producto__descripcion {
    font-size: 1.6rem;
}

.producto__precio {
    font-size: 6rem;
    color: var(--mainColor);
    font-weight: 900;
    margin: 0;
}

.producto__enlace {
    margin-top: 2rem;
    /* tomando todo el ancho disponible */
    display: block;
    text-decoration: none;
    color: var(--black);
    padding: 1rem 5rem;
    border: 2px solid var(--mainColor);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: background-color 300ms ease-in;
}

.producto__enlace:hover {
    background-color: var(--mainColor);
    color: var(--white);
}

/* === CURSOS === */
.cursos {
    background-image: linear-gradient(to right, rgb(0 0 0 / 0.65), rgb(0 0 0 / 0.65)), url(../images/cursos_bg.jpg);
    margin-top: 10rem;
    padding: 10rem 0;
    background-size: cover;
    background-position: 50%;
}

@media (min-width: 768px) {
    .cursos__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
    }
}

/* Para centrar todo, incluso el enlace */
.cursos__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .cursos__contenido {
        grid-column: 2 / 3;
    }
}

.cursos__texto {
    color: var(--white);
    text-align: center;
    font-size: 2.4rem;
}

.cursos__enlace {
    color: var(--white);
    /* Para que pueda tomar margin, padding */
    display: inline-block;
    margin-top: 2rem;
    border: 2px solid var(--mainColor);
    text-decoration: none;
    padding: 1rem 5rem;
    font-weight: 700;
    transition: background-color 300ms ease-in;
}

.cursos__enlace:hover {
    background-color: var(--mainColor);
}

/* === BLOG === */
.blog__grid {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .blog__grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 992px) {
    .blog__grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

.entrada__contenido {
    padding: 2rem;
}

.entrada__titulo {
    font-weight: 400;
    font-size: 2.8rem;
    margin: 0;
    line-height: 1.2;
}

.entrada__fecha {
    font-size: 1.6rem;
    color: var(--mainColor);
}

.entrada__texto {
    /* limitando longitud del extracto */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.entrada__enlace {
    margin-top: 2rem;
    display: block;
    text-decoration: none;
    color: var(--black);
    padding: 1rem 5rem;
    border: 2px solid var(--mainColor);
    text-align: center;
    font-size: 1.4rem;
    font-weight: 900;
    text-transform: uppercase;
    transition: background-color 300ms ease-in;
}

.entrada__enlace:hover {
    background-color: var(--mainColor);
    color: var(--white);
}

/* === FOOTER === */
.footer {
    margin-top: 5rem;
    background-color: var(--black);
    padding: 5rem 0;
}

@media (min-width: 768px) {
    .footer__contenido {
        display: flex;
        justify-content: space-between;
    }
}

.footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .footer__nav {
        flex-direction: row;
        gap: 2rem;
    }
}

.footer__enlace {
    font-size: 2.8rem;
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
}

.footer__enlace:hover {
    color: var(--mainColor);
}

.footer__copyright {
    font-size: 2.8rem;
    color: var(--white);
    font-weight: 700;
    text-align: center;
}

.footer__copyright a {
    color: var(--white);
}

.footer__copyright a:hover {
    color: var(--mainColor);
}

/**----------------
=== NOSOTROS.HTML ===
/**----------------*/
.nosotros__grid {
    display: grid;
    gap: 4rem;
}

@media (min-width: 768px) {
    .nosotros__grid {
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
    }
}

/**----------------
=== BLOG.HTML ===
/**----------------*/
/* modificador de BEM */
@media (min-width: 992px) {
    .blog__grid--pagina {
        grid-template-columns: repeat(3, 1fr);
    }
}

/**----------------
=== ENTRADA.HTML ===
/**----------------*/
.entrada {
    max-width: 80rem;
    margin: 0 auto;
}
