/*! === CUSTOM PROPERTIES === */
:root {
    --mainColor: #e99401;
    --black: #262626;
    --white: #FFF;
    --mainFont: 'Outfit', sans-serif;
}

/*! === GLOBAL === */
html {
    /* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit; }

body {
    font-size: 2rem;
    font-family: var(--mainFont);
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

/*! === UTILITIES === */
/* Todos los que tengan...*/
[class*="contenedor"] {
    width: 90%;
    max-width: 120rem;
    margin: 0 auto;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

/* === HEADER === */
.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.7)), url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.header__guitarra {
    display: none;
}