/*! === CUSTOM PROPERTIES === */
:root {
    --mainColor: #e99401;
    --black: #262626;
    --white: #FFF;
    --mainFont: 'Outfit', sans-serif;
}

/*! === GLOBAL === */
html {
    /* PX TO REM: 62.5% of 16px = 10px; 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *:before, *:after { box-sizing: inherit; }

body {
    font-size: 2rem;
    font-family: var(--mainFont);
    line-height: 1.5;
}

img {
    max-width: 100%;
    display: block;
}

/*! === UTILITIES === */
/* Todos los que finalizan...*/
[class$="__contenedor"] {
    width: 95%;
    max-width: 120rem;
    margin: 0 auto;
}

[class$="__heading"] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--mainColor);
    margin: 5rem 0;
}

/*! === SITE STYLES === */
/**----------------
=== INDEX.HTML ===
/**--------------*/

/* === HEADER === */
.header {
    background-image: linear-gradient(to right, rgb(0 0 0 / 0.7), rgb(0 0 0 / 0.7)), url(../images/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    padding: 5rem 0;
    /* El padre siempre lleva relative */
    position: relative;
}

.header__barra {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (min-width: 768px) {
    .header__barra {
        flex-direction: row;
        justify-content: space-between;
    }
}

.header__logo {
    width: 30rem;
}

.navegacion {
    display: flex;
    gap: 2rem;
    margin-top: 5rem;
    position: relative;
    z-index: 1;
}

@media (min-width: 768px) {
    .navegacion {
        margin-top: 0;
    }
}

.navegacion__enlace {
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem;
    font-size: 1.4rem;
    font-weight: 700;
    transition: background-color 300ms ease-in;
}

.navegacion__enlace:hover {
    background-color: var(--mainColor);
}

.modelo {
    color: var(--white);
    margin-top: 5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .modelo {
        text-align: left;
        /* espacio para la guitarra */
        width: 50%;
    }
}

.modelo__nombre {
    font-size: 8rem;
}

.modelo__precio {
    font-size: 6rem;
    color: var(--mainColor);
    font-weight: 900;
    line-height: 0;
}

.modelo__enlace {
    margin-top: 2rem;
    text-decoration: none;
    padding: 1rem 5rem;
    border: 2px solid var(--mainColor);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.4rem;
    transition: background-color 300ms ease-in;
}

.modelo__enlace:hover {
    background-color: var(--mainColor);
}

.header__guitarra {
    display: none;
}

@media (min-width: 992px) {
    .header__guitarra {
        display: block;
        /* El hijo siempre lleva absolute */
        position: absolute;
        right: 0;
        bottom: 0;
        /*
        animation-name: animarGuitarra;
        animation-duration: 1s;
        animation-delay: 0s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: 1;
        */

        /* Shorthand: duration, timing-function, delay, iteration-count, name */
        animation: 1s ease-in-out 0s 1 animarGuitarra;

    }
}

@keyframes animarGuitarra {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
