@use '../base/variables' as v;
@use '../base/mixins' as m;

.header {
	padding: 5rem 0;
	position: relative;
	background-repeat: no-repeat;
	background-size: cover;

	@include m.tablet {
		min-height: 70rem;
	}

	&::before {
		content: '';
		background-color: v.$black;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.50;
	}

	// Anidación
	.contenido-header {
		position: relative;

		h1 {
			text-align: center;
			color: v.$white;
			text-transform: uppercase;
			margin-top: 5rem;

			@include m.tablet {
				margin-top: 10rem;
			}
		}
	}
}

// Header de cada página
.header-inicio {
	background-image: url(../images/header_inicio.jpg);
}

.header-nosotros {
	background-image: url(../images/header_nosotros.jpg);
}

.header-proceso {
	background-image: url(../images/header_proceso.jpg);
}

.header-menu {
	background-image: url(../images/header_menu.jpg);
}

.header-galeria {
	background-image: url(../images/header_galeria.jpg);
}

.header-contacto {
	background-image: url(../images/header_contacto.jpg);
}