@use '../base/variables' as v;

.header {
	padding: 5rem 0;
	position: relative;

	&::before {
		content: '';
		background-color: v.$black;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		opacity: 0.50;
	}

	// Anidación
	.contenido-header {
		position: relative;
	}
}

// Header de cada página
.header-inicio {
	background-image: url(../images/header_inicio.jpg);
}