@use '../base/variables' as v;
@use '../base/mixins' as m;

.descargar {
	background-color: v.$lightGray;
	padding: v.$separation 0;

	&__grid {
		@include m.tablet {
			@include m.grid(2, v.$separation);
		}
	}

	&__imagen {
		width: 50%;
		margin: 0 auto;
		transition: transform 300ms ease-in-out;

		&:hover {
			transform: rotate(4deg) scale(1.2);
		}
	}
}