@use '../base/variables' as v;
@use '../base/mixins' as m;

.tiendas {
	display: flex;
	flex-direction: column;
	justify-content: center;

	&__heading {
		color: v.$secondColor;
		margin: 2rem 0 0 0;
	}

	&__texto {
		margin-bottom: 3rem;
	}

	&__heading,
	&__texto {
		text-align: center
	}

	&__grid {
		@include m.grid(2, 2rem);
	}

	&__enlace {
		transition: transform 500ms ease-in-out;

		&:hover {
			transform: scale(1.2);
		}
	}
}