@use '../base/variables' as v;

html {
	font-size: 62.5%;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: v.$mainFont;
	font-size: 1.6rem;
	background-color: v.$lightBrown;
}

p {
	color: v.$black;
	font-size: 1.6rem;
	line-height: 2;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

.contenedor {
	width: 95%;
	max-width: 120rem;
	margin: 0 auto;
}