@use '../base/variables' as v;

@mixin mobile {
	@media (min-width: v.$mobile) {
		// Directiva que permitirá agregar cualquier contenido
		@content;
	}
}

@mixin tablet {
	@media(min-width: v.$tablet) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: v.$desktop) {
		@content;
	}
}

@mixin grid($cols, $gap) {
	display: grid;
	grid-template-columns: repeat($cols, 1fr);
	column-gap: $gap;
}