// Tipografía
$mainFont: 'Raleway', sans-serif;
$secondFont: 'Roboto', sans-serif;
$italicFont: 'Bona Nova', serif;

// MediaQueries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$mainColor: #5E311E;
$secondColor: #C39C63;
$lightBrown: #EBE7DE;
$black: #000;
$white: #FFF;
$lightGray: #ECEEEF;

// Unidades
$separation: 5rem;