html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* === GLOBALES === */
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}

a {
    text-decoration: none;
    color: #000;
}

h1, h2, h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

img {
    max-width: 100%;
    display: block;
}

/* === UTILIDADES === */
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/* === HEADER === */
.nombre-sitio {
    margin-top: 5rem;
    text-align: center;
}

.nombre-sitio span {
    color: #037BC0;
}

.contenedor-navegacion {
    border-top: 1px solid #E1E1E1;
}

.nav-principal {
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}

.hero {
    height: 55rem;
    background-image: url(../images/principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

/* === CATEGORÍAS === */
.categorias {
    padding-top: 5rem;
}

.categorias h2 {
    text-align: center;
}

.listado-categorias {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.categoria a {
    display: block;
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}

.categoria a:hover {
    background-color: #037BC0;
    color: #FFF;
    border-radius: 0 0 1.5rem 0;
}
