// Typography
$mainFont: 'Roboto', sans-serif;

// Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$mainColor: #e8505b;
$secondColor: #455a64;
$black: #000;
$white: #FFFFFF;
$lightGray: #eceeef;

// Gap
$separation: 5rem;