@use '../base/variables' as v;
@use '../base/mixins' as m;

.contenido-nosotros {
	@include m.tablet {
		@include m.grid(2, 5rem);
	}

	.imagen {
		margin-bottom: v.$separation;

		@include m.tablet {
			margin-bottom: 0;
		}

		img {
			transform: rotate(-6deg);
			border: 3rem solid v.$white;
			box-shadow: 9px 10px 5px -7px rgb(0 0 0 / 0.35);
		}
	}

	.texto {
		blockquote {
			margin: 0;
			padding: 1rem;
			border-left: 0.5rem solid v.$black;
			font-size: 2rem;
		}
	}
}